@model WardrobeProject.Top

@{
    ViewBag.Title = "Details";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: orchid;
    }
</style>

<h2>TOPS</h2>
<div>
    <h4>DETAILS</h4>
    <div class-="container">
        <div class="row">
            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.TName)</h5>
                <p>  @Html.DisplayFor(model => model.TName)</p>
                <p>   @Html.DisplayFor(model => model.TPhoto)</p></p>
            </div>

            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.TType)</h5>
                <p>@Html.DisplayFor(model => model.TType)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.TColor)</h5>
                <p> @Html.DisplayFor(model => model.TColor)</p>

            </div>

            <div class="col-4">

                <h5> @Html.DisplayNameFor(model => model.TSeason)</h5>
                <p> @Html.DisplayFor(model => model.TSeason)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.TOccasion)</h5>
                <p> @Html.DisplayFor(model => model.TOccasion)</p>
            </div>
            <div>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


