@model IEnumerable<WardrobeProject.Top>

@{
    ViewBag.Title = "Index";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: lightgrey;
    }
</style>

<h2>TOPS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class=container-fluid>
    <div class="AccHead">
        <div class=row>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.TName)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.TPhoto)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.TType)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.TColor)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.TSeason)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.TOccasion)
            </div>
        </div>
    </div>
</div>

@*loop to enter each review and print to screen*@
@foreach (var item in Model)
{
<div class="row">
    <div class="col-1">
        @Html.DisplayFor(modelItem => item.TName)
    </div>
    <div class="col-2">
        <img src="~/Images/@Html.DisplayFor(modelItem => item.TPhoto)" style="width:75px;" />
        </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.TType)
    </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.TColor)
    </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.TSeason)
    </div>
    <div class="col-1">
        @Html.DisplayFor(modelItem => item.TOccasion)
    </div>

    <div class="col-2">
        @Html.ActionLink("Edit", "Edit", new { id = item.TopId }) |
        @Html.ActionLink("Details", "Details", new { id = item.TopId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TopId })
    </div>
</div>
}
