@model IEnumerable<WardrobeProject.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopId })
        </td>
    </tr>
}

</table>
