@model WardrobeProject.Accessory

@{
    ViewBag.Title = "Details";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: orchid;
    }
</style>

<h2>ACCESSORIES</h2>
<div>
    <h4>DETAILS</h4>
    <div class-="container">
        <div class="row">
            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.AName)</h5>
                <p>  @Html.DisplayFor(model => model.AName)</p>
                <p>  @Html.DisplayFor(model => model.APhoto)</p>
            </div>

            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.AType)</h5>
                <p>@Html.DisplayFor(model => model.AType)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.AColor)</h5>
                <p> @Html.DisplayFor(model => model.AColor)</p>

            </div>

            <div class="col-4">

                <h5> @Html.DisplayNameFor(model => model.ASeason)</h5>
                <p> @Html.DisplayFor(model => model.ASeason)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.AOccasion)</h5>
                <p> @Html.DisplayFor(model => model.AOccasion)</p>
            </div>
            <div>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>



