@model IEnumerable<WardrobeProject.Accessory>

@{
    ViewBag.Title = "Index";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: lightgrey;
    }
</style>
<h2>ACCESSORIES</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class=container-fluid>
    <div class="AccHead">
        <div class=row>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.AName)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.AType)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.AColor)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.ASeason)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.AOccasion)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.APhoto)
            </div>
        </div>
    </div>
</div>

@*loop to enter each accessory and print to screen*@
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.AName)
        </div>
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.AType)
        </div>
        <div class="col-1">
            @Html.DisplayFor(modelItem => item.AColor)
        </div>
        <div class="col-1">
            @Html.DisplayFor(modelItem => item.ASeason)
        </div>
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.AOccasion)
        </div>
        <div class="col-2">
            @*@Html.DisplayFor(modelItem => item.APhoto)*@
            <img src="~/Images/@Html.DisplayFor(modelItem => item.APhoto)" style="width:75px;" />
        </div>

        <div class="col-2">
            @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
        </div>
    </div>

}

