@model WardrobeProject.Bottom

@{
    ViewBag.Title = "Details";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: orchid;
    }
</style>

<h2>Details</h2>

<div>
    <h4>DETAILS</h4>
    <div class-="container">
        <div class="row">
            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.BName)</h5>
                <p>  @Html.DisplayFor(model => model.BName)</p>
                <p>  @Html.DisplayFor(model => model.BPhoto)</p>
            </div>

            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.BType)</h5>
                <p>@Html.DisplayFor(model => model.BType)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.BColor)</h5>
                <p> @Html.DisplayFor(model => model.BColor)</p>

            </div>

            <div class="col-4">

                <h5> @Html.DisplayNameFor(model => model.BSeason)</h5>
                <p> @Html.DisplayFor(model => model.BSeason)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.BOccasion)</h5>
                <p> @Html.DisplayFor(model => model.BOccasion)</p>

            </div>          
            <div>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
