@model IEnumerable<WardrobeProject.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>
