@model IEnumerable<WardrobeProject.Bottom>

@{
    ViewBag.Title = "Index";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color: lightgrey;
    }
</style>

<h2>BOTTOMS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class=container-fluid>
    <div class="AccHead">
        <div class=row>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.BName)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.BPhoto)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.BType)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.BColor)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.BSeason)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.BOccasion)
            </div>
        </div>
    </div>
</div>

@*loop to enter each review and print to screen*@
@foreach (var item in Model)
{
<div class="row">
    <div class="col-1">
        @Html.DisplayFor(modelItem => item.BName)
    </div>
    <div class="col-2">
        <img src="~/Images/@Html.DisplayFor(modelItem => item.BPhoto)" style="width:75px;" />
    </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.BType)
    </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.BColor)
    </div>
    <div class="col-2">
        @Html.DisplayFor(modelItem => item.BSeason)
    </div>
    <div class="col-1">
        @Html.DisplayFor(modelItem => item.BOccasion)
    </div>
    <div class="col-2">
        @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
        @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
    </div>
</div>
}

