@model WardrobeProject.Sho

@{
    ViewBag.Title = "Details";
}
<style>
    /*set background color & image*/
    body {
        background-image: url("paper.gif");
        background-color:orchid;
    }
</style>
<h4>Details</h4>

<div>
    <h2>SHOES</h2>
    <div class-="container">
        <div class="row">
            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.SName)</h5>
                <p>  @Html.DisplayFor(model => model.SName)</p>
                <p> @Html.DisplayFor(model => model.SPhoto)</p>
            </div>

            <div class="col-4">
                <h5> @Html.DisplayNameFor(model => model.SType)</h5>
                <p>@Html.DisplayFor(model => model.SType)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.SColor)</h5>
                <p> @Html.DisplayFor(model => model.SColor)</p>

            </div>

            <div class="col-4">

                <h5> @Html.DisplayNameFor(model => model.SSeason)</h5>
                <p> @Html.DisplayFor(model => model.SSeason)</p>
                <br>
                <br>
                <h5> @Html.DisplayNameFor(model => model.SOccasion)</h5>
                <p> @Html.DisplayFor(model => model.SOccasion)</p>

            </div>
            <div>
            </div>
         </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


